<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <%- include('head') %>
</head>

<body>
    <%- include('meny') %>
        <h1>
            <%= title %>
        </h1>
        <p>Velkommen til
            <%= subtitle %>
        </p>

        <div style="width: 50%;">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Informasjon!</h4>
                <p>Dette er en app som er under utvikling. Jeg bruker Node, Express og Bootstrap til utviklingen</p>
                <hr>
                <p class="mb-0">Dette skal bli bra en dag!</p>
            </div>

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>OK!</strong> Jeg har fått det med meg :-)
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
        </div>
</body>

</html>