<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  <%- include('head') %>
  </head>
  <body>
    <%- include('meny') %>
    <h1><%= title %></h1>
    <p>Velkommen til <%= title %></p>
    <p><%= subtitle %></p>
  </body>
</html>
